/* reset */
*{
    padding: 0;
    margin: 0;
    --spacing: 1rem;
    --sidebarWidth: 2fr;
    --contentWidth: 7fr;
    --addListWidth: 1fr;
    --headerHeight: 10vh;
    --contentHeight: 44vh;
    --titleSize: x-large;
}
/* general */
.container{
    display: flex;
    width: 100%;
    margin: var(--spacing) 0 var(--spacing) 0;
}

/* grid */
body{
    display: grid;
    grid-template-columns: var(--sidebarWidth) var(--contentWidth) var(--addListWidth);
    grid-template-rows: var(--headerHeight) var(--contentHeight) var(--contentHeight);
    grid-template-areas: 
        "sidebar header header"
        "sidebar content content"
        "sidebar content content";
}
header{
    grid-area: header;
    border: 1px solid black;
}
.content{
    width: 100%;
    height: 100%;
    grid-area: content;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar{
    width: 100%;
    height: 100%;
    grid-area: sidebar;
    font-size: var(--titleSize);
    border: 1px solid black;
}
/* sidebar */
.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 2rem;
    background-size: cover;
    margin-right: var(--spacing);
}
.username{
    align-self: center;
    font-weight: bold;
}
.list-title{
    font-weight: bold;
}
.lists, .time-range{
    flex-direction: column;
}
.time-range>div>div:hover{
    color: grey;
}
.time-range>div>div:active{
    font-weight: bolder;
    color: black;
}
/* header */
header{
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* new list button */
.add-new-list{
    --buttonWidth: 15%;
    --buttonHeight: 100%;
    --radius: 2rem;
    margin: 0;
    grid-area: content;
    border: 1px solid black;
    border-radius: var(--radius);
    width: var(--buttonWidth);
    height: calc(var(--buttonHeight) - 2 * var(--spacing)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 7px grey;
}
.plus-sign{
    --imageSize: 5rem;
    width: var(--imageSize);
    height: var(--imageSize);
    opacity: 0.28;
}
.add-new-list:hover{
    box-shadow: 5px 5px 15px black;
}
dialog{
    width: 50vw;
    height: 50vh;
    justify-self: center;
    align-self: center;
}