/* reset */
:root{
    padding: 0;
    margin: 0;
    --spacing: 1rem;
    --sidebarWidth: 2fr;
    --contentWidth: 7fr;
    --addListWidth: 1fr;
    --headerHeight: 10vh;
    --contentHeight: 44vh;
    --titleSize: x-large;
    --radius: 2rem;
}
/* general */
.container{
    display: flex;
    margin: var(--spacing) 0 var(--spacing) 0;
}

/* grid */
body{
    display: grid;
    grid-template-columns: var(--sidebarWidth) var(--contentWidth) var(--addListWidth);
    grid-template-rows: var(--headerHeight) var(--contentHeight) var(--contentHeight);
    grid-template-areas: 
        "sidebar header header"
        "sidebar content content"
        "sidebar content content";
}
header{
    grid-area: header;
}
.content{
    width: 100%;
    height: 100%;
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar{
    width: 100%;
    height: 100%;
    grid-area: sidebar;
    font-size: var(--titleSize);
}
/* sidebar */
.profile-pic{
    border: 1px solid grey;
    border-radius: 50%;
    padding: 2rem;
    background-size: cover;
    margin-right: var(--spacing);
}
.username{
    align-self: center;
    font-weight: bold;
}
.list-title{
    font-weight: bold;
}
.lists, .time-range{
    flex-direction: column;
}
.time-range>div>div:hover{
    color: grey;
}
.time-range>div>div:active{
    font-weight: bolder;
    color: black;
}
/* header */
header{
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* new list button */
.add-new-list{
    --buttonWidth: 15%;
    --buttonHeight: 100%;
    margin: 0;
    grid-area: content;
    border: 1px solid black;
    border-radius: var(--radius);
    width: var(--buttonWidth);
    height: calc(var(--buttonHeight) - 2 * var(--spacing)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 7px grey;
}
.plus-sign{
    --imageSize: 5rem;
    width: var(--imageSize);
    height: var(--imageSize);
    opacity: 0.28;
    /* this fixes the deadzone for the add new list event listener */
    pointer-events: none;
}
.add-new-list:hover{
    box-shadow: 5px 5px 15px black;
}
/* modal dialog styling */
dialog{
    width: 50vw;
    height: 50vh;
    padding: calc(2 * var(--spacing));
    justify-self: center;
    align-self: center;
    border-radius: var(--radius);
}
:modal{
    display: grid;
    grid-template-areas: 
        "title title"
        "info info"
        "cancel submit";
    grid-template-rows: 1fr 6fr 1fr;
    gap: var(--spacing);
}
.modal-title{
    grid-area: title;
    align-self: center;
    font-size: 2.3rem;
    font-weight: bold;
}
.todo-info{
    grid-area: info;
    padding: 0 var(--spacing) 0 var(--spacing);
    margin: 0;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.modal-cancel, .modal-submit{
    height: 3rem;
    width: 10rem;
    border-radius: var(--spacing);
}
.modal-cancel:hover, .modal-submit:hover{
    background-color: lightgrey;
}
.modal-cancel:active, .modal-submit:active{
    background-color: darkgray;
}
.modal-cancel{
    justify-self: end;
}
.todo-title{
    align-self: left;
    font-weight: 600;
}
.notes-input{
    height: 50%;
    border: 2px solid black;
    border-radius: calc(var(--spacing) / 2);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.date-input, .todo-input{
    height: 10%;
    border: 2px solid black;
    border-radius: calc(var(--spacing) / 2);
    padding: 0 0.5rem 0 0.5rem;
}
/* prevents resizing of the notes */
textarea{
    resize: none;
}
/* todo cards */
.cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}