/* reset */
*{
    padding: 0;
    margin: 0;
    --spacing: 1rem;
}
/* general */
.container{
    display: flex;
    width: 100%;
    margin: var(--spacing) 0 var(--spacing) 0;
}

/* grid */
body{
    display: grid;
    grid-template-columns: 2fr 7fr 1fr;
    grid-template-rows: 10vh 45vh 45vh;
    grid-template-areas: 
        "sidebar header header"
        "sidebar content content"
        "sidebar content content";
    gap: var(--spacing);
}
header{
    grid-area: header;
    border: 1px solid black;
}
.content{
    width: 100%;
    height: 100%;
    grid-area: content;
    border: 1px solid black;
}
.sidebar{
    width: 100%;
    height: 100%;
    grid-area: sidebar;
    font-size: x-large;
    margin: 0 0 0 var(--spacing);
    border: 1px solid black;
}
/* sidebar */
.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 2rem;
    background-size: cover;
    margin-right: var(--spacing);
}
.username{
    align-self: center;
    font-weight: bold;
}
.list-title{
    font-weight: bold;
}
.lists, .time-range{
    flex-direction: column;
}


